asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
checksum==1.0.4
Django==2.1.5
docutils==0.15.2
idna==2.8
jmespath==0.10.0
mysqlclient==1.4.6
Pillow==7.0.0
pipenv==2022.1.8
pycryptodome==3.9.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.0
urllib3==1.25.8
virtualenv==16.7.9
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.5
